obj/
bin/
.vs/
.zip/
*.zip
.7z/
*.7z
.rar/
*.rar
.pdb/
*.pdb
.psd/
*.psd
Textures/Things/Pawn/ToolUser/TombSpyder_south.png
Textures/Things/Pawn/ToolUser/TombSpyder_east.png
Textures/Things/Pawn/ToolUser/TombSpyder_north.png
